<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wale.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wale.WPF.Properties.Settings>
            <setting name="AutoControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StayOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunAtWindowsStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Averaging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DetailedView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TargetLevel" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="AverageTime" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Kurtosis" serializeAs="String">
                <value>0.35</value>
            </setting>
            <setting name="MasterVolumeInterval" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="MinPeak" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="UpRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GCInterval" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="UIUpdateInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AutoControlInterval" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="VFunc" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="AppTitle" serializeAs="String">
                <value>WALE</value>
            </setting>
            <setting name="ProcessPriority" serializeAs="String">
                <value>High</value>
            </setting>
            <setting name="ExcList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>audacity</string>
                        <string>obs64</string>
                        <string>amddvr</string>
                        <string>ShellExperienceHost</string>
                        <string>Windows Shell Experience Host</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Wale.WPF.Properties.Settings>
    </userSettings>
</configuration>