<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wale.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wale.WPF.Properties.Settings>
            <setting name="AutoControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StayOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunAtWindowsStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Averaging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DetailedView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BaseLevel" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="AverageTime" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="Kurtosis" serializeAs="String">
                <value>0.35</value>
            </setting>
            <setting name="MasterVolumeInterval" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="MinPeak" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="UpRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GCInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="UIUpdateInterval" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="AutoControlInterval" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="VFunc" serializeAs="String">
                <value>None</value>
            </setting>
        </Wale.WPF.Properties.Settings>
    </userSettings>
</configuration>